fastapi
uvicorn
sqlalchemy
pydantic
email-validator
python-dotenv
cryptography
passlib[bcrypt]
PyJWT
openai
python-multipart
PyPDF2
docx2txt
a2wsgi
requests
psycopg2-binary
Pillow
SpeechRecognition
moviepy
python-dateutil
httpx
beautifulsoup4
google-generativeai


anthropic
numpy
langchain
langgraph
ollama
opentelemetry-api
boto3
azure-core
firebase-admin

apscheduler==3.10.4
duckduckgo-search==6.2.11
